#ignore this configuration if not working add this "git -rm --cached ." "git add ." "git commit -m 'fixed'"
application/config/database.php
#application/config/config.php
application/db/*
admin/*
log/*
