#ignore this configuration if not working add this "git rm -r  --cached ." "git add ." "git commit -m 'fixed'"
#application/config/database.php
#application/config/config.php
application/db/*
admin/*
logs/*
php_errors.log
